@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --brand-color: #1677ff;
  --bg-color: #FDFDFD;
}

body {
  background-color: var(--bg-color);
  color: #1a1a1a;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adm-nav-bar {
  --background-color: white;
}
